<% provide(:title, "#{@store.name}の投稿一覧") %>
<div class = "container">
  <div class = "store-form">
  
    <%= render "stores/store" %>
    <h1 class = "page-title">投稿一覧</h1>

    <%= render "/microposts/index" %>
    
  </div>
    <div class = "review-form">
      <%= link_to "このお店のレビューをする", "/microposts/review/#{@store.id}", class: "btn btn-review" %>
    </div>
  </div>
</div>