<div class = "container">
  <div class = "store-form">
  
    <%= render "stores/store" %>
    <h1>写真一覧</h1>

    <div class = "review-form">
      <%= link_to "このお店のレビューをする", "/stores/review/#{@store.id}", class: "btn btn-review" %>
    </div>
  </div>  
</div>