<div class = "container">
  <div class = "store-form">
  
    <%= render "stores/store" %>
    <h1 class = "page-title">写真一覧</h1>


    <div class = "index-form">
      <div class = "photos">
        
      </div>
    </div>


    <div class = "review-form">
      <%= link_to "このお店のレビューをする", "/microposts/review/#{@store.id}", class: "btn btn-review" %>
    </div>
  </div>  
</div>