<div class = "container">
  <%= render "users/user"%>
  <div class = "browsing-history">
    <h2>最近閲覧したお店</h2>
  </div>
  <div class = "recent-post">
    <h2>最近の投稿</h2>
    <%= render "users/recent_post" %>
  </div>
</div>

