<div class = "home">
  <div class = "home-image">
    <img src ="雷文.png">
    <img src ="ramen37.png">
    <img src ="ramen5.png">
    <img src ="ramen37.png">
    <img src ="雷文.png">
  </div>
</div>
<div class="container">
  <div class = "app-top">
    <p>ラーメン店の情報・待ち時間を調べるなら</p>
    <h1>らぁ麵インフォメーション</h1>
    <div class = "app-top-info">
      <p>→気になるお店を検索</p>
      <p>→みんなのレビューを見る</p>
      <p>→曜日・時間帯ごとの待ち時間が一目で分かる</p>
      <p>→食べたラーメンをレビューできる</p>
    </div>
    <div class = "app-top-links">
      <div class = "app-top-link">
        <h3>さっそくユーザー登録して</h3>
        <h3>快適なラーメンライフをおくろう！！</h3>
        <div class = "signup-link">
          <%= link_to "ユーザー登録する", "/signup", class: "btn signup-btn" %>
        </div>
      </div>
      <div class = "app-top-link">
        <h3>すでに登録済みの方は</h3>
        <h3>こちら！！</h3>
        <div class = "user-page-link">
          <%= link_to "ユーザーページへ", @current_user == nil ? login_path : user_path(@current_user), class: "btn user-page-btn" %>
        </div>
      </div>
    </div>  
  </div>
</div>
