@import "bootstrap-sprockets";
@import "bootstrap";

$shadow1: 0 5px 5px black;
$shadow2: 1px 0 5px black;
$my-orange: rgb(253, 220, 130);

body {
  background-color: whitesmoke;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

.top_text{
  text-align: center;
  margin-top: 40px;
}

.empty-space{
  height: 30px;
}

.container {
  width: 1300px;
  margin:0 auto;
  background-color: white;
}

.alert {
  margin: 30px auto 0 auto;
  text-align: center;
  line-height: 40px;
  box-sizing:content-box;
  width: 350px;
  height: 40px;
  border-radius: 5px;
}

.alert.alert-success {
  color: rgb(2, 160, 49);
  border: 2px solid rgb(9, 255, 0);
  background-color: rgb(139, 245, 174);
}

.alert.alert-danger {
  color: rgb(160, 2, 2);
  border: 2px solid red;
  background-color: rgb(245, 139, 139);
}

// header

header {
  background-color: $my-orange;
  height: 80px;
  >.container {
    background-color: $my-orange;
  }
  .header-links{
    .links-left{
      float: left;
    }
    .links-right {
      padding-top: 55px;
    }
    a{
      margin: 0 20px;
      display: inline-block;
      float: right;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.raimon {
  display: flex;
  margin-top: -5px;
}

.logo {
  margin: 10px;
}

//error_message
div.field_with_errors {
  background-color: rgb(245, 63, 63);
  padding: 2px;
  border-radius: 0.3px;
}

//home

.home {

  background-color: $my-orange;
  margin: -17px auto 0 auto;
  width: 2000px;
  img {
    width: 100%;
    opacity: 0.7;
  }
}

.app-top {
  position: 0;
  color: white;
  font-family:monospace;
  position: absolute;
  top: 80px;
  padding: 100px 0 200px;
  width: 1300px;
  text-align: center;
  margin-top: 100px;
  p {
    text-shadow:$shadow1;
    font-size: 23px;
    font-weight: bold;
  }
  h1{
    text-shadow:$shadow1;
    font-weight: bold;
    font-size: 60px;
  }
  h3{
    text-shadow:$shadow2;
    font-size: 30px;
  }
  .app-top-info{
    width: 1000px;
    margin:100px auto 0 auto;
    p {
      text-shadow:$shadow2;
      font-size: 28px;
      text-decoration: underline;
    } 
  }
  .app-top-links {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .app-top-link{
      width: 47%;
      background-color: rgba(165, 87, 42, 0.7);
      border-radius: 20px;
      box-sizing: border-box;
      border:double 7px rgba(148, 68, 21, 0.7);
      padding: 0.5em 1em;
      margin: 2em 0;
    }
  }
}


.btn {
  color: white;
  text-shadow:$shadow2;
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  padding: 0;
  margin: 30px auto;
  text-align: center;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight:bold;
  border-radius: 7px;
  &:hover {
    color: white;
    filter: brightness(85%);
  }
  &:active{
    position: relative;
    top: 5px;
  }
}

.signup-btn {
  background-color: #00b500;
  border:1px solid #087729;
  box-shadow: 0 5px #087717;
}
.user-page-btn {
  background-color: #0099B5;
  border:1px solid #086677;
  box-shadow: 0 5px #086677;
}

//新規登録画面
//ログイン画面

.input-form{
  width: 50%;
  margin: 50px auto;
  .input-submit {
    text-align: center;
    padding: 30px 0;
  }
  .checkbox{
    margin-top: 20px;
    padding-left: 20px;
  }
}

//マイページ

.profile{
  width: 80%;
  margin: 0 auto 30px auto;
}

.profile-info {
  margin: 20px 0 10px 0;
  display: flex;
  .icon {
    margin: 0 10px;
    box-sizing: border-box;
    border: 3px solid rgb(63, 61, 61);
    border-radius: 50%;
  }
  h1 {
    font-size: 50px;
    margin: 0px;
    line-height: 100px;
  }
}

.edit-link {
  margin-left: 15px;
  color: white;
  text-shadow:$shadow2;
  display: block;
  box-sizing: border-box;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
  border-radius: 7px;
  background-color: #b5a900;
  border:1px solid #777008;
  box-shadow: 0 3px #775908;
  &:hover {
    color: white;
    filter: brightness(85%);
  }
  &:active{
    position: relative;
    top: 3px;
    box-shadow: none;
  }
}

//footer

footer{
  margin-top: 5px;
  height: 200px;
  background-color: rgb(169, 169, 169);
  text-align: center;
  >.container{
    padding-top: 30px;
    background-color: rgb(169, 169, 169);
  }
  .footer_links{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    li {
      margin: 0;
      // padding:0 10px;
      border-left: 1px solid black;
      padding:0 10px;
    }
    >:last-child{
      border-right: 1px solid black;
    }
  }
}