<footer>
  <div class="container">
    <%= link_to root_path do %>
      <img src ="footer-image.png" class = "logo" width = "220" height = "50">
    <% end %>
    <ul class = "footer_links">
      <li class = "footer-link"><%= link_to "トップ", "#" %></li>
      <li class = "footer-link"><%= link_to "検索", "#" %></li>
      <li class = "footer-link"><%= link_to "お問い合わせ", "#" %></li>
    </ul>
  </div>
</footer>